@use '../../styles/variables';

.grid-link {
  cursor: pointer;
  color: variables.$mid-grey;
  z-index: 0;

  &:hover, &.activating {
    color: variables.$dark-grey;
  }

  &:hover {
    z-index: 1;
    animation: mouse-over 0.3s ease forwards;
  }

  &.activating {
    z-index: 2;
  }

  &.active {
    z-index: 3;
    animation: activate 0.3s forwards;
    pointer-events: none;
  }
}

@keyframes activate {
  0% {
    color: variables.$dark-grey;
  }
  100% {
    color: variables.$red;
  }
}

@keyframes mouse-over {
  from {
    color: variables.$mid-grey;
  }
  to {
    color: variables.$dark-grey;
  }
}
