@use '../../styles/variables';

.home-page {
  margin: 16px;

  &, .navgrid-content {
    display: flex;
  }

  .navgrid-content {
    align-items: center;

    &.content-transition {
      animation-name: transition-content;
      animation-duration: 0.6s;
    }

    .content-expand {
      display: none;
    }

    .content-text {
      margin-right: 24px;

      h2 {
        color: variables.$red;
      }

      li {
        list-style-type: disc;
        margin-left: 12px;
      }
      
      .top-spacing {
        display: block;
        margin-top: 12px;
      }
    }
  }

  .navgrid-wrapper {
    opacity: 0;

    &.show {
      animation: fade-in 0.3s forwards;
    }
  }
}

@media (max-width: 767px) {
  .home-page {
    .navgrid-content {
      flex-direction: column;

      .content-expand {
        display: flex;
        margin-top: 24px;
        width: 100%;
        justify-content: center;

        .expand-plus {
          cursor: pointer;
          width: 3em;
          height: 3em;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #365398;
          border-radius: 100%;
          animation: rotate-plus 4s ease-out infinite;

          &::before {
            content: "\002B";
            font-size: 2em;
          }
        }
      }

      .content-text {
        margin: auto;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes transition-content {
  0% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  52% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate-plus {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(540deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
