.grid-link {
  cursor: pointer;
  color: var(--colour-mid-grey);
  z-index: 0;

  &:hover, &.activating {
    color: var(--colour-dark-grey);
  }

  &:hover {
    z-index: 1;
    animation: mouse-over 0.3s ease forwards;
  }

  &.activating {
    z-index: 2;
  }

  &.active {
    z-index: 3;
    animation: activate 0.3s forwards;
    pointer-events: none;
  }
}

@keyframes activate {
  0% {
    color: var(--colour-dark-grey);
  }
  100% {
    color: var(--colour-red);
  }
}

@keyframes mouse-over {
  from {
    color: var(--colour-mid-grey);
  }
  to {
    color: var(--colour-dark-grey);
  }
}
